body {
    max-width: 30em;
    background-color: #111111;
    color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding: 3.2;

}

.header {
    text-align: center;
    letter-spacing: 0.2em;
}

label {
    display: block;
    margin: 1rem 0;
}

h1 {
    text-transform: uppercase;
}

p {
    line-height: 1.5em;
}

#name, #email, #number {
    width: 16em;
    border-radius: 0.5em;
    padding: 0.6em;
}

textarea {
    width: 100%;
    height: 11em;
    padding: 1em 2em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0.5em;
    background-color: #f8f8f8;
    resize: none;
  }

  #email-label, #name-label, #number-label {
    text-align: right;
    width: 19em;
    display: inline-block;
  
  }

  fieldset {
    border-radius: 0.5em;
  }